body {
  font-family: "Montserrat";
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Montserrat";
  line-height: 1.5;
}


/* Headings */
.intro-heading {
  font-weight: 800;
  font-size: 3.5rem;
  text-align: left;
}

.pricing-heading {
  font-weight: 700;
  font-size: 2.5rem;
}

.cta-heading {
  font-weight: 800;
  font-size: 2.5rem;
  color: white;
}

.mkt-heading {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 0 10px 0;
}


/* Texts */
.price-text {
  font-weight: 600;
  font-size: 2rem;
}

.testimonial-text {
  font-weight: 500;
  font-size: 2rem;
}

.mkt-text {
  color: #8f8f8f;
}


/* Color Sections */
.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ff4c68;
}


/* Title Section  */
#title {
  color: white;
  padding: 3% 15% 15%;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 60%;
  transform: rotate(12deg);
  position: absolute;
  right: 25%;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}


/* Features Section  */
#features {
  padding: 7% 15%;
  position: relative;
  /* z-index: 1; Can be included, but not necessary as later elements are naturally on top. */
}

.mkt-icon {
  color: #FF4C68;
}

.mkt-icon:hover {
  color: red;
}


/* Testimonial Section  */
#testimonials {
  color: #fff;
}

.testimonial-image {
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/* Press Section  */
#press {
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section  */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}


/* CTA Section  */
#cta {
  padding: 8% 2% 4%;
}


/* Footer Section  */
#footer {
  padding: 5%;
}

.footer-icon {
  padding: 1%;
  margin-bottom: 20px;
}

.footer-copyright {
  font-size: 0.9rem;
  letter-spacing: 0.08rem;
}
